SPRING_PROFILES_ACTIVE=prod
PORT=5000
DB_URL=jdbc:mysql://YOUR_MYSQL_HOST:3306/realestate_backend_db
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
JWT_SECRET=REPLACE_WITH_RANDOM_SECRET_AT_LEAST_32_BYTES
